# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Lab5_WebScraper.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\naree\RiderProjects\Lab5_WebScraper\.idea\.idea.Lab5_WebScraper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
